---
layout: false
permalink: /humans.txt
eleventyExcludeFromCollections: true
feed: false
---
/* TEAM */
Project: Wild Globalization
Site: {{ settings.url }}

/* SITE */
Generator: Eleventy {{ eleventy.version }}
Feeds: /feed/feed.xml, /feed/feed.rss, /feed/feed.json, /feed/feed.txt, /twtxt.txt